@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

body {
  background-color: tan;
  font-size: 20px;
  font-family: "Playfair Display", serif;
}

.container {
  width: 100%;
  max-width: 1142px;
  margin: 0, 20px;
  padding-right: 0;
  height: 57px;
}

.nav {
  padding-top: 0px;
  background: url(../assets/png/шапка.png);
  display: block;
  width: 1024px;
  margin-left: 163px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 57px;
  margin-left: 15px;
  margin-right: 20px;
  width: 984px;
  position: absolute;
  padding-top: 3px;
}

.logo {
  margin-top: 4px;
  margin-left: 6px;
}
.logo .logo:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.nav_link {
  color: black;
  text-decoration: none;
}

.navigation-list {
  display: flex;
  gap: 32px;
}

.navigation-list a {
  text-decoration: none;
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  line-height: 10px;
}

.navigation-list a:hover {
  color: rgb(255, 255, 255);
}

.header {
  background: url(../assets/png/главноефото.png);
  max-width: 1142px;
  margin-left: 163px;
  margin-right: 162px;
  height: 613px;
}

.header__row {
  display: block;
  align-items: center;
}

.header__title {
  font-size: 64px;
  font-family: "Viaoda Libre", cursive;
  color: #FFFFFF;
  line-height: 32px;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.16em;
  padding-top: 490px;
}

.header__subtitle {
  color: #FFFFFF;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  padding-top: 21px;
  letter-spacing: 0.21em;
  line-height: 36px;
  margin-left: 5px;
}

.delivery {
  background-color: tan;
  display: block;
  max-width: 1024px;
  margin-left: 163px;
  height: 842px;
}

.line {
  padding-left: 508px;
  padding-top: 3px;
}

.delivery__title {
  font-family: "Viaoda Libre", cursive;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.51em;
  padding-top: 12px;
  padding-left: 31px;
  font-weight: 100;
}

.delivery__subtitle {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  padding-top: 29px;
  letter-spacing: 0.21em;
  line-height: 36px;
  margin-left: 5px;
}

.delyvery__img {
  display: flex;
  gap: 323px;
  padding-left: 256px;
  padding-top: 73px;
}

.delivery__blocks {
  display: flex;
  gap: 47px;
  text-align: center;
  margin-top: 24px;
}

.titleRB {
  font-family: "Viaoda Libre", cursive;
  font-size: 24px;
  letter-spacing: 0.21em;
  margin-left: 130px;
  text-decoration: underline;
}

.descriptionRB {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  padding-top: 16px;
  letter-spacing: 0.21em;
  text-align: center;
  font-weight: 400;
  width: 375px;
  margin-left: 119px;
}

.titleBrest {
  font-family: "Viaoda Libre", cursive;
  font-size: 24px;
  letter-spacing: 0.21em;
  text-decoration: underline;
  margin-right: 2px;
}

.descriptionBrest {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  padding-top: 16px;
  letter-spacing: 0.21em;
  text-align: center;
  font-weight: 400;
  width: 375px;
  padding-right: 7px;
}

.availability {
  background-color: tan;
  display: block;
  max-width: 1024px;
  height: 980px;
}

.availability_line {
  padding-left: 508px;
  padding-top: 4px;
}

.availability__title {
  font-family: "Viaoda Libre", cursive;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.5em;
  padding-top: 13px;
  padding-left: 21px;
  font-weight: 100;
}

.button__container {
  display: flex;
  gap: 109px;
  margin-left: 245px;
  padding-top: 33px;
}

.button {
  background: url(../assets/png/кнопка.png);
  width: 213px;
  height: 55.92px;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  color: black;
}

.button:hover {
  background: rgba(0, 0, 0, 0);
  color: #000000;
  box-shadow: inset 0 0 0 3px #000000;
  border-radius: 22px;
}

.container__tovary {
  display: block;
}

.tovary {
  padding-left: 218px;
  padding-top: 43px;
  display: block;
}

.tovary1riad {
  display: flex;
  width: 588px;
  height: 252px;
  gap: 15px;
}

.tovary2riad {
  display: flex;
  width: 588px;
  height: 252px;
  gap: 15px;
  margin-top: 13px;
}

.button__strelki {
  display: flex;
  gap: 36px;
  padding-top: 12px;
  padding-left: 226px;
}

.button__left:hover {
  background: rgb(255, 255, 255);
  color: #fffcfc;
  border-radius: 50px;
  padding-top: 2px;
  height: 54px;
}

.button__right:hover {
  background: rgb(255, 255, 255);
  color: #fffcfc;
  border-radius: 50px;
  padding-top: 2px;
  height: 54px;
}

.video {
  background-color: tan;
  display: block;
  max-width: 1024px;
  height: 817px;
}

.video__t {
  font-family: "Viaoda Libre", cursive;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.5em;
  padding-top: 13px;
  padding-left: 21px;
  font-weight: 100;
}

.line {
  padding-top: 5px;
}/*# sourceMappingURL=style.css.map */