.availability{
    background-color: tan;
    display: block;
    max-width: 1024px;
    height: 980px;

}

.availability_line{
    padding-left: 508px;
    padding-top: 4px;
}

.availability__title{
    font-family: 'Viaoda Libre', cursive;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.5em;
    padding-top: 13px;
    padding-left: 21px;
    font-weight: 100;
    opacity: 0.5;
}

.button__container {
    display: flex;
    gap: 109px;
    margin-left: 245px;
    padding-top: 33px;
}

.button{
    background: url(../assets/png/кнопка.png);
    width: 213px;
    height:55.92px; 
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    color: black;
}
.button:hover{
    background: rgba(0,0,0,0);
	color: #000000;
	box-shadow: inset 0 0 0 3px #000000;
    border-radius: 20px;
}

.container__tovary{
display: block;
}

.tovary{
    padding-left: 218px;
    padding-top: 43px;
    display: block;
    
    
}

.tovary1riad{
    display: flex;
    width: 588px;
    height: 252px;
    gap: 15px;
}

.tovary2riad{
    display: flex;
    width: 588px;
    height: 252px;
    gap: 15px;
    margin-top: 13px;

}

.button__strelki{
display: flex;
gap: 36px;
padding-top: 12px;
padding-left: 226px;

}
.button__left:hover{
    background: rgb(255, 255, 255);
	color: #fffcfc;
    border-radius: 50px;
    padding-top: 2px;
    height: 54px;
}
.button__right:hover{
    background: rgb(255, 255, 255);
	color: #fffcfc;
    border-radius: 50px;
    padding-top: 2px;
    height: 54px;
}
